<div class="step" id="step1" data-step="1">
                <h1>Alle huidige klanten</h1>
                <iframe style="position: relative;bottom: 15px;" src="https://www.google.com/maps/d/u/0/embed?mid=12pTJN-yQXWn9zwJ9Ora3y_KYruw&ll=51.735109619663%2C12.08665373482313&z=6" width="1025" height="670"></iframe>
</div>