 <div class="step" id="step3" data-step="3">
     
      <h1>Het laatste nieuws & het weer</h1>
      
      <!-- Het Weer -->
      <div id="weatherItems"></div>
     
      <!-- Nieuws -->
      <div id="newsItems"></div>
</div>

<!-- Load NEWS & FORECAST API --> 
<script>
var newsScript     = "js/news.js";
var forecastScript = "js/forecast.js";
$.getScript(newsScript);
$.getScript(forecastScript);
</script>