
<div class="step" id="step2" data-step="2">

        <h1 class="trello-title"></h1>
        <span class="trello-board"></span>
      
<div id="trello"></div>
</div>

<script>
var url = "js/trello.js";
$.getScript(url);
</script>