<div class="step" id="step4" data-step="4">
    
    <h1>Server statistieken</h1>
    
    <!-- Zabbix iFrame -->
    <div id="iframe-wrapper">
    <iframe style="background:transparent" scrolling="no" id="zabbix-iframe" frameborder="0" src="https://zabbix.s4financials.com/screens.php?elementid=16"></iframe>
    </div>
    
</div>