*{
    font-family: 'Open Sans', sans-serif;
}

body {
    color:#FFF;
    font-family: Arial;
    font-size: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow:hidden;
}


a{
    color:#FFF;
}

#trello a,
#newsItems a{
    text-decoration:none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#newsItems a{
    width: 99%;
    margin: 0 auto;
    overflow-y: hidden;
    position: relative;
    display: inline;
}



#trello a:hover
#newsItems a:hover{
    color: #3085d6;
    transform: scale(1.1);
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

#backgroundMovie {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index:-1;
}

.container {
 margin: 0 auto;
    width: 55%;
    height: 774px;
    padding: 2em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.65);
    border: 0;
    border-radius: 15px;
    z-index: 1;
    position: relative;
    top: 45px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: inset 0px 0px 65px 1px #0000005e;
    overflow: hidden;
}

#trello{
    overflow-y: hidden;
    font-size: 1.15em;
    height: 620px;
    width: 100%;
}

#newsItems{
    height: 415px;
    padding: 5px;
    overflow-y: hidden;
    font-size: 1.15em;
    line-height: 1.8;
    position: relative;
    top: -35px;
}

.newsItem{
    position: relative;
    background: gray;
    height: 208px;
    width: 255px;
    float: left;
    border: 1px solid #a5a5a5;
    background-size: cover !important;
    font-size: 0.85em;
}

.newsItem-title{
    text-align: center;
    font-size: 1em;
    background: rgba(0,0,0,0.75);
    position: relative;
    top: 20px;
    cursor:pointer;  
    display:inline;
}

#weatherItems{
    position: relative;
    width: 99%;
    height: 180px;
    top: -35px;
    background: rgba(0,0,0,0.15);
    border-radius: 15px;
}

.weatherItem{
    position: relative;
    width: 207px;
    height: 95%;
    float: left;
    
}

.weatherDay{
    position: relative;
    top: 10px;
    font-size: 1.6em;
}

.weatherImage{
    width:95px;
}

.weatherTemp{
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 1px;
}


.trello-board{
    color: #5aafff;
    background: #000;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    bottom: 20px;
}

h1 {
    margin: 0em -1em 1.5em;
    padding: 0.3em;
    color: #fff;
    background-color: #3085d6;
    text-shadow:2px 2px 15px #000;
    letter-spacing:2px;
}

button{
    cursor:pointer;
    transition: all 0.25s ease-in-out;
    float: left;
    position: relative;
    bottom: 25px;
    width: 386px !important;
    font-size:1em;
}

button:hover{
    background:#3085d6;
    color:#FFF;
    border-color:transparent;
    transition: all 0.25s ease-in-out;
}


input[type="text"],
button{
    width: 25em;
    padding: 0.5em 1em;
    border: 1px #999 solid;
    border-radius: 0.4em;
    text-align: center;
    outline:none;
    background: transparent;
    color: #FFF;
    padding: 10px;
    border-radius: 10px;
    outline:none;
}

input[type="text"]{
    width: 20em;
    float: left;
}

select option{
    background:#000000d9;
    border-radius:10px;
    padding: 0.5em 1em;
    color:#FFF;
    cursor: pointer;
    text-align:center;
    font-weight:bold;
    cursor: pointer;
}

select{
    height: 38px;
    background: transparent;
    color: #FFF;
    border: 1px solid #a9a9a9;
    border-radius: 10px;
    padding: 0.5em 1em;
    text-align: center;
    outline-style: none;
    float: right;
    position: relative;
    bottom: 43px;
    right: 6px;
    cursor: pointer;
}

input[type="submit"]{
    padding: 0.5em 1em;
    font-weight: bold;
}

.step{
    display:none;
}

.step:nth-child(1){
    display: block;
}

.buttons{
    width:400px;
    position: absolute;
    bottom: -10px;
    left: 25px;
    right: 0;
    margin: auto;
    height: 100px;
    z-index:1;
}

.goToFirst,
.goToPrevious,
.goToNext,
.goToLast,
.resetInterval{
   width:75px;
   cursor:pointer;
}


.resetInterval{
    visibility:hidden;
}


.btnHover{
    filter:drop-shadow(0px 0px 15px #3c556b);
    transform: scale(1.05);
    transition:transform 0.1s;
    transition-timing-function: ease-in-out;
}


/* WEER APP */
#weatherInfo{
position: absolute;
    background: rgba(0,0,0,0.65);
    width: 15%;
    height: 298px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    font-size: 1.2em;
    color: #FFF;
    padding-top: 25px;
    cursor: default;
    left: 5%;
    z-index: 10;
    border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    box-shadow: inset 0px 0px 45px 5px #0000005e;
    overflow: hidden;
    top: 578px;
    padding-top: 5px;
}

#NoActivityUsers{
position: absolute;
    background: rgba(0,0,0,0.65);
    width: 15%;
    height: 490px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    font-size: 1em;
    color: #FFF;
    padding-top: 25px;
    cursor: default;
    top: 53px;
    left: 5%;
    z-index: 10;
    border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    box-shadow: inset 0px 0px 45px 5px #0000005e;
    
}


/* Rechter widget */
#widget2{
display: block;
    position: absolute;
    background: rgba(0,0,0,0.65);
    width: 15%;
    height: 803px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    font-size: 1em;
    color: #FFF;
    padding-top: 25px;
    cursor: default;
    top: 53px;
    right: 5%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    z-index: 10;
    box-shadow: inset 0px 0px 65px 1px #0000005e;
    
}

#widget2-content{
overflow-y: auto;
    height: 75%;
}


#NoActivityUsers-content{
    overflow-y:auto;
    height: 57%;
}


#notifications{
    display: none;
   position: relative;
    background: #3085d6;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    font-size: 1.4em;
    color: #FFF;
    cursor: default;
    top: 45px;
    width:80%;
    height: 60px;
    line-height: 1.75;
    font-size: 2em;
    box-shadow: 0px 0px 65px 1px #0000005e;
    margin: 0 auto;
}

table{ 
margin-left: auto;
margin-right: auto;
}

tr,
th,
td{
    padding:15px;
}

td,
th{
    background: #FFF;
    color: #3085d6;
    border-color:#3085d6;
}

th{
    font-weight: bold;
}

.formattedDate{
       font-weight: bold;
    background: #000 !important;
    border-radius: 10px;
    padding: 6px;
    margin: 0px;
    font-size: 0.75em;
}

#form-wrapper{
    background-color: #000000d9;
    width: 390px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    top: 100px;
    height: 100px;
}

.warning-icon-right{
    float: right;
    position: relative;
    right: 120px;
    width:50px;
    height:50px;
}

.warning-icon-left{
    float: left;
    position: relative;
    left: 120px;
    width:50px;
    height:50px;
}

#iframe-wrapper { 
    height: 1300px;
    width: 2075px;
    border: 0px;
    position: relative !important;
    overflow: hidden;
 }
 
#zabbix-iframe {
margin-top: -190px;
    width: 2050px;
    height: 1390px;
    border: 0px;
    position: relative !important;
    zoom: 0.7;
    -moz-transform: scale(0.71);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.71);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.71);
    -webkit-transform-origin: 0 0;
    right: 430px;
}

#zabbix-iframe .table-forms-container,
#zabbix-iframe .browser-warning-container{
    border:none !important;
}

#iframe-wrapper body{
    background:transparent !important;
}

.countUsers{
    display: inline-block;
    vertical-align: text-top;
    padding: 1px 10px;
    line-height: 21px;
    font-size: 1em;
    color: white;
    text-shadow: 0 1px #902a27;
    background: #2c86d7;
    border-radius: 2px;
    background-image: -webkit-linear-gradient(top, #f65d5f, #e93631);
    background-image: -moz-linear-gradient(top, #f65d5f, #e93631);
    background-image: -o-linear-gradient(top, #f65d5f, #e93631);
    background-image: linear-gradient(to bottom, #0059aa, #2c86d7);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.2);
    width: 20px;
    height: 20px;
    border-radius: 15px;
}

.countOfflineUsers{
    display: inline-block;
    vertical-align: text-top;
    padding: 1px 10px;
    line-height: 21px;
    font-size: 1em;
    color: white;
    text-shadow: 0 1px #902a27;
    background: #2c86d7;
    border-radius: 2px;
    background-image: -webkit-linear-gradient(top, #f65d5f, #e93631);
    background-image: -moz-linear-gradient(top, #f65d5f, #e93631);
    background-image: -o-linear-gradient(top, #f65d5f, #e93631);
    background-image: linear-gradient(to bottom, #790014, #fc002a);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.2);
    width: 20px;
    height: 20px;
    border-radius: 15px;
}

.onlineUsersItem,
.offlineUsersItem{
    background: #000;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
    margin: 2px;
    line-height: 15px;
    font-size:1.2em !important;
}

.onlineUsersItem{
    color: #3085d6;
    padding: 8px;
}
.offlineUsersItem{
    color:#fc002a;
    padding: 8px;
}



.trelloRow{
line-height: 2;
}